#edit-quiz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
.form{
  width: 40%;
  margin: auto;
}
input, select{
  padding: 12px;
  width: 350px;
  margin: 10px;
}
.option{
  display: flex;
}
#question{
  width: 370px;
}
select{
  width: 400px;
}
#addQuestion{
  padding: 12px;
  border-radius: 8px;
  outline: none;
  background: lightblue;
  border: none;
  float: right;
}
.question{
  width: 70%;
  background: rgb(250, 250, 250);
  margin: auto;
  padding: 12px;
  margin-top: 10px;
}
.listQuestion{
  margin-top: 50px;
}
#choice{
  display: flex;
  margin: 0;
  padding: 0;
}
