body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #001233;
  color: #fff;
}
.logo{
  background: #001233;
  position:sticky;
  top: 0;
}
#Logo{
  width:6%;
  cursor: pointer;
  margin-top: -83px;
  margin-right:12px;
  float: right;
}
img{
  width: 15px;
}
  
.btn-group{
  padding: 15px;
}
.button-A,.button-B{
  width: 10%;
  border: none;
  background-color: #61a5c2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
}
.button-A:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.button-B:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.container{
  width: 77%;
  padding-top: 50px;
  align-items: center;
  margin: auto;
  display: none;
}
.card1{
  text-align: center;
  border: 1px solid #fff;
  border-top: 6px solid #61a5c2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
h1{
  font-size: 55px;
}

.listQuestion{
  text-align: center;
}
.btn-submit{
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  outline: none;
  color: #fff;
  background:#61a5c2;
  border: none;
  float: right;
}
.question{
  border-radius: 15px;
  border: 1px solid #fff;
  border-left: 5px solid #61a5c2;
  border-right: 5px solid #61a5c2;
  margin-top: 12px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#question{
  color: #fff;
  background: #001233;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
}

/*
// Display for editting quiz ---------------------------------------
*/
.editQuiz{
  width: 75%;
  padding-top: 50px;
  align-items: center;
  margin: auto;
  display: none;
}
.card2{
  padding: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-top: 5px solid #61a5c2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#edit-quiz{
  margin-top: 15px;
}
#form{
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
}
input{
  padding: 12px;
  width: 350px;
  margin: 10px;
}
/* #option-1{
  border-bottom: 1px solid red;
} */

select{
  width: 10%;
  color: #fff;
  background: #001233;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
}
#addQuestion{
  padding: 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 10px;
  outline: none;
  color: #fff;
  float:right;
  background: #61a5c2;
}

label,#nameQuiz{
  margin-bottom: 12px;
  padding: 32px 60px;
}

ol{
  list-style: none;
  width: 50%;
  float: left;
}
li{
  margin-top: 12px;
}

input[type='radio'] {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
input[type='text'] {
  height: 5vh;
  width: 70%;
}

.section2{
  width: 81%;
  margin: auto;
  margin-top:12px;
  margin-bottom:12px;
}
.formOflist{
  margin-top: 15px;
  width: 100%;
  border: 1px solid #fff;
  border-left: 3px solid #61a5c2;
  border-right: 3px solid #61a5c2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.showAnser{
 display: flex;
}
.showQuestion,p{
  font-size: 24px;
  font-weight: 500;
  display: flex;
  padding: 12px;
}
#containQuestion{
  padding: 30px;
}


#option-1,#option-2,#option-3,#option-4{
  background: #001233;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid#fff;
}
